.parent {
	background: deepskyblue;
	text-align: center;
	height: 40vh;
	font-size: 20px;
	padding: 5px;
	line-height: 3;
	transition: font-size 2s linear 0.1s;
	width: 40vw;
}
.parent:hover {
	font-size: xx-large;
	text-align: left;
	transform: rotate3d(1turn);
}

.bar {
	background: #ddd;
	padding: 5px;
	background: deepskyblue;
	width: 10%;
	animation: 3s linear 1s infinite alternate extends;
	@keyframes extends {
		from {
			width: 10%;
		}
		to {
			width: 100%;
		}
	}

}
.progress-bar {
	background: red;
	width: 5%;
	transition:  
		width 10s linear 0.1s,
		background 5s linear 3s;
}
.progress-bar:hover {
	width: 100%;
	background: deepskyblue;
}